h1 {
    text-align: center;
    color: #000000;
}

a {
    display: none;
}

div::after {
    content: '(versão impressa)';
}

div img {
    display: block;
    margin: auto;
    width: 30%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

iframe {
    display: none;
}