.um , .dois , .tres{
    border: 1px solid black;
    padding: 10px;
    width: 40%;
}
img{
    width: 40%;
}

@media screen and (max-width: 600px){
    img{
        display: none;
    }
    .um{
        background-color: red;
        font-size: 1.5em;
    }
    
}
@media screen and (min-width:600px) and (max-width:900px) {
    .dois{
        background-color: blue;
        font-size: 1.5em;
    }
}
@media screen and (min-width:900px){
    .tres{
        background-color: yellow;
        font-size: 1.5em;
    }
}