*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(212, 212, 212);
}
div{
    background-image: linear-gradient(to bottom,purple,red);
    min-height: 180px;
}
div h1{
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 4px 4px 2px grey;
    padding-top: 20px;
    font-size: 2.5em;
}