/* Estilos gerais */
body {
    font-family: "SF Pro Display", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Cinza leve para o fundo do site */
}

header, nav, main, footer {
    padding: 20px;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}
header h1{
    margin-left: 40px;
}

.logo {
    width: 50px; /* Defina o tamanho desejado para a logo */
    height: 50px; /* Defina o tamanho desejado para a logo */
    border-radius: 50%; /* Torna a logo redonda */
    overflow: hidden; /* Garante que a imagem não exceda os limites da div */
}

.logo img {
    width: 100%; /* Garante que a imagem da logo preencha a div */
    height: auto; /* Mantém a proporção da imagem */
}

/* Estilos para o menu */
/* Estilos para o menu */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #ddd;
}

#btn-carrinho {
    font-size: 20px;
    margin-left: 10px;
}


#btn-carrinho:hover {
    background-color: #ddd;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.produto {
    border: 1px solid #ddd; /* Borda leve */
    border-radius: 8px; /* Bordas levemente arredondadas */
    background-color: #fff; /* Fundo branco */
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    box-sizing: border-box; /* Adicionado para incluir o padding na largura */
    width: calc(33.33% - 40px); /* 33.33% de largura com margens compensadas */
    margin-right: 20px; /* Espaçamento entre os produtos */
    display: inline-block; /* Alteração para exibir lado a lado */
    vertical-align: top; /* Alinha os produtos ao topo */
    height: 400px; /* Altura fixa para os cards */
    overflow: hidden; /* Oculta conteúdo que ultrapasse a altura */
}

.produto:last-child {
    margin-right: 0; /* Remove margem do último produto */
}

.produto img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.produto h3 {
    margin: 0;
}

.produto p {
    color: #666;
}

.produto button {
    background-color: #0070c9;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.produto button:hover {
    background-color: #00569d;
}
/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.service {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.service h2 {
    margin-top: 0;
    color: #0070c9;
}
.service p {
    margin-bottom: 10px;
}
/* Estilos específicos para dispositivos móveis */
@media (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }
    .produto {
        width: calc(50% - 40px); /* 50% de largura com margens compensadas */
    }
}

/* Estilos específicos para impressão */
@media print {
    nav {
        display: none;
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}
